<div class="p-3 mb-2 bg-dark text-white">
  <h1><%= @article.title %></h1>
</div>

<p class="p-3 m-2" style="background: #eee; border-radius: 5px;"><%= @article.body %></p>

<ul>
  <li><%= link_to "Edit", edit_article_path(@article)  %></li>
  <li><%= link_to "Destroy", article_path(@article), method: :delete, data: { confirm: "Are you sure?"} %></li>

  <h2>Comments</h2>
  <%= render @article.comments %>

  <h2>Add a comment:</h2>
  <%= render 'comments/form' %>
</ul>
